@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* calc-button（数字ボタンとクリアボタンのスタイル） */
.calc-button {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: #cfe8ff;
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #a0522d;
  font-size: 1.5rem;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.calc-button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.calc-button:active {
  background-color: #ffef78;
}

/* 演算子ボタンのスタイル */
.operator-button {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  color: #a0522d;
  font-size: 1.5rem;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.operator-button.bg-green {
  background-color: #00cc44;
}

.operator-button.bg-red {
  background-color: #d72880;
}

.operator-button:hover {
  background-color: inherit;
}

.operator-button:active {
  background-color: #ffef78;
}

.bg-custom-gradient {
  /* background: linear-gradient(
    320deg,
    #4a00e0, #6a00f4, #8338ec, #3a0ca3, #480ca8, #4cc9f0, 
    #3a86ff, #4361ee, #7209b7, #560bad, #4ea8de, #4361ee,
    #7209b7, #4a00e0, #480ca8, #4cc9f0
  ); */
  background-size: 400% 400%;
  animation: smoothGradient 40s ease infinite;
}

@keyframes smoothGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


